---
import Layout from "../layouts/Layout.astro";
import "../global.scss";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Stats from "../components/Stats.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Theme from "../components/Theme.astro";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

const translation = {
  es: {
    title: "Jorge Oviedo - Portafolio 25",
    description:
      "Soy Jorge, un desarrollador frontend apasionado por crear aplicaciones web rápidas y accesibles. Descubre mi portafolio de proyectos y mi experiencia en tecnologías como React, TypeScript, y más.",
    link: "https://www.joviedo.com/",
  },
  en: {
    title: "Jorge Oviedo - Portfolio 25",
    description:
      "I'm Jorge, a frontend developer passionate about creating fast and accessible web applications. Discover my portfolio of projects and my experience in technologies like React, TypeScript, and more.",
    link: "https://www.joviedo.com/en/",
  },
};

const t = translation[locale as keyof typeof translation];
---

<script>
  import { PowerGlitch } from "powerglitch";

  PowerGlitch.glitch(".glitch-hover", {
    playMode: "hover",
    hideOverflow: false,
    timing: {
      duration: 1000,
      iterations: 1,
      easing: "ease-in-out",
    },
    glitchTimeSpan: {
      start: 0,
      end: 0.3,
    },
    shake: {
      velocity: 10,
      amplitudeX: 0.4,
      amplitudeY: 0.4,
    },
    slice: {
      count: 10,
      velocity: 10,
      minHeight: 0.02,
      maxHeight: 0.4,
      hueRotate: true,
    },
  });

  PowerGlitch.glitch(".glitch-always", {
    playMode: "always",
    hideOverflow: false,
    timing: {
      duration: 1000,
      iterations: 15,
      easing: "ease-in-out",
    },
    glitchTimeSpan: {
      start: 0.4,
      end: 0.7,
    },
    shake: {
      velocity: 10,
      amplitudeX: 0.4,
      amplitudeY: 0.4,
    },
    slice: {
      count: 4,
      velocity: 10,
      minHeight: 0.02,
      maxHeight: 0.4,
      hueRotate: true,
    },
  });
</script>

<Layout>
  <Fragment slot="head">
    <meta property="og:title" content={t.title} />
    <meta property="og:description" content={t.description} />
    <meta property="og:image" content="https://www.joviedo.com/ogimage.webp" />
    <meta property="og:url" content={t.link} />
  </Fragment>

  <main slot="body">
    <Navbar />
    <Theme />
    <Hero />
    <Projects />
    <Stats />
    <About />
    <Footer />
  </main>
</Layout>
