#about {
  padding-top: 200px;
  .border-bottom {
    height: 100px;
    border-radius: 50% 50%;
    border-bottom: 2px solid #343434;
    margin-top: 100px;
  }
  .info {
    display: flex;
    align-items: start;
    .left {
      width: 50%;
      p {
        font-size: 40px;
        font-family: "NeueMontreal";
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: end;
      img {
        max-width: 356px;
        max-height: 476px;
        object-fit: contain;
        filter: grayscale(100%);
      }
    }
  }
}
