.accordion {
  width: 100%;
  font-family: "NeueMontreal";
  &__item:last-child {
    border-bottom: none;
  }
  &__item {
    border-bottom: 2px solid var(--secondary-color);

    scroll-margin: 44px !important;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      cursor: pointer;
      padding: 30px 0px;
      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }
      color: var(--text-color);
      &__left {
        display: flex;
        justify-content: space-between;
        align-items: start;
        h3 {
          margin: 0;
        }
        span {
          margin-right: 30px;
          margin-top: 8px;
          font-size: 18px;
          color: var(--secondary-color);
        }
      }
      &__right {
        padding-bottom: 10px;
        &__title {
          font-size: 14px;
          letter-spacing: 2px;
        }
        &__company {
          font-size: 28px;
          font-family: "Mondwest";
        }
      }
    }
    &__content {
      transition: max-height 0.2s;
      overflow: hidden;
      color: var(--text-color);
      max-height: 0;
      display: none;
      background-color: var(--background-color);
      ul li {
        font-size: 20px;
      }
      &.active {
        display: block;
        max-height: 1000px;
      }
      &__description {
        font-size: 40px;
        font-family: "NeueMontreal";
        margin-top: 0px;
        max-width: 50%;
      }
      &__images {
        padding: 40px 0px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        img {
          width: 33%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
