.accordion {
  width: 100%;
  font-family: "NeueMontreal";

  &__item {
    margin-bottom: 5px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
      }
      color: var(--text-color);
      &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        h3 {
          border-bottom: 6px solid var(--secondary-color);
          font-size: 50px;
          margin: 0;
        }
        span {
          margin-right: 30px;
          margin-top: 5px;
          font-size: 18px;
          font-family: "NeueMontreal";
          color: var(--secondary-color);
        }
      }
    }
    &__content {
      transition: max-height 0.2s;
      padding: 10px;
      overflow: hidden;
      color: white;
      max-height: 0;
      display: none;
      background-color: var(--background-color);
      &.active {
        display: block;
        max-height: 1000px;
      }
    }
  }
}
