---
import "./Footer.scss";
import gradient from "../assets/gradient2.png";
import { Image } from "astro:assets";
---

<footer id="footer" class="container">
  <div class="wrapper">
    <h1>Let’s work on something together, say hi.</h1>
    <Image class="image glitch" src={gradient} alt="gradient" />
  </div>
</footer>
