---
import "./Footer.scss";
import { getLocale } from "astro-i18n-aut";
import Socials from "./Socials.astro";

const locale = getLocale(Astro.url);

const translation = {
  es: {
    title: "Trabajemos en algo juntos, ",
    link: "salúdame.",
  },
  en: {
    title: "Let’s work on something together, ",
    link: "say hi.",
  },
};

const t = translation[locale as keyof typeof translation];
---

<footer id="footer" class="container">
  <div class="wrapper">
    <!-- <Image class="image" src={gradient} alt="gradient" /> -->
    <div class="wrapper__content">
      <h1>
        {t.title}<br /><a class="email-footer" href="mailto:hola@joviedo.com">{t.link}</a>
      </h1>
      <Socials />
      <a href="mailto:hola@joviedo.com" class="copyright"
        >hola@joviedo.com ©{new Date().getFullYear()}
      </a>
    </div>
  </div>
</footer>
