#hero {
  height: 90vh;
  .hero-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .image {
      display: none;
      .dark & {
        display: block;
      }
      position: absolute;
      object-fit: cover;
      z-index: 10;
      top: -40%;
      max-width: 100%;
      max-height: 856px;
    }
    h1 {
      text-align: center;
      z-index: 1;
    }
  }
}
