---
import "./Projects.scss";
import Accordion from "./Accordion.astro";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

const translation = {
  es: {
    title: "Algunos de mis trabajos",
  },
  en: {
    title: "Some of my work",
  },
};

const t = translation[locale] || translation.es;
---

<section id="projects" class="container">
  <!-- <div class="border-top"></div> -->
  <h2 class="title">{t.title}</h2>
  <Accordion />
</section>
