#projects {
  .border-top {
    height: 100px;
    border-radius: 50% 50%;
    border-top: 2px solid #343434;
    margin-top: 100px;
  }
  padding-bottom: 200px;
  .title {
    margin-bottom: 100px;
    text-align: center;
  }
}
