---
import "./Stats.scss";
---

<section id="stats" class="container">
  <div class="stat-wrapper">
    <p class="number">215.000<span class="icon">+</span></p>
    <p class="text">Lines of code changed.</p>
  </div>
  <div class="stat-wrapper">
    <p class="number">3<span class="icon">+</span></p>
    <p class="text">Years of experience.</p>
  </div>
  <div class="stat-wrapper">
    <p class="number">21<span class="icon">+</span></p>
    <p class="text">Projects completed.</p>
  </div>
</section>
