#stats {
  display: flex;
  justify-content: space-around;
  padding: 200px 0px;
  border-radius: 10%;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  .stat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .number {
      font-size: 78px;
      margin: 0px;
      font-family: "NeueMontreal";
      .icon {
      }
    }
    .text {
      font-family: "NeueMontreal";
      font-size: 16px;
    }
  }
}
