@charset "UTF-8";

@font-face {
  font-family: "Mondwest";
  src: url("/fonts/mondwest.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #e5e8ec;
  --primary-color: #58ff77;
  --secondary-color: #343434;
  --text-color: #0d0d0d;
  --mix-blend: normal;
}

.show-dark {
  display: none;
}

.dark {
  --background-color: #0d0d0d;
  --primary-color: #58ff77;
  --secondary-color: grey;
  --text-color: #c3c7cf;
  --mix-blend: difference;
  .hide-dark {
    display: none;
  }
  .show-dark {
    display: block;
  }
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s, mix-blend-mode 0.2s, border 0.2s;
  user-select: none;
}

.container {
  max-width: 1392px;
  width: 100%;
  margin: auto;
  // border: 1px solid red;
}

h1 {
  font-size: 72px;
  font-family: "Mondwest";
}

h2 {
  font-size: 55px;
  font-family: "NeueMontreal";
}

h3 {
  font-size: 50px;
  font-family: "NeueMontreal";
}

h4 {
  font-size: 40px;
  font-family: "NeueMontreal";
}

p {
  font-size: 25px;
  font-family: "NeueMontreal";
}

@media screen and (max-width: 970px) {
  h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 702px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
}
